* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-height: 100%;
}

li {
  background: #787878;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

li:hover {
  background: #9a9a9a;
}
